<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Nick Lee</title>
    <!-- MDBootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <!-- Dev Icons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <!-- Local Stylesheets -->
    <link rel='stylesheet' href='styles/styles.css'/>
    <link rel='stylesheet' href='styles/animations.css'/>
  </head>
  <body> 
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <a class="navbar-brand" href="#"><strong>NLEE</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class='container-fluid'>
      <!-- HOME -->
      <div id="home" class="home">
        <img src="public/mirror-overlay.png" class="img-fluid"/>
        <h1 class='animate-reveal animate home-text'>NICK LEE</h1>
      </div>
      <!-- ABOUT -->
      <div id="about" class="row about">
        <div class="col">
          <h1>ABOUT</h1><br/>
          <h5>Currently seeking opportunities.</h5><br/>
          <p>Born and raised in Victoria, BC. Passionate about the arts
            - I love creative ventures. At the moment I am abroad,
            shaking things up in Berlin.</p>
          <p>I'm a fresh junior developer looking to get my feet wet</p>
          <p>When I am not coding, I enjoy illustrating, photography,
             playing video games, watching movies, and attending concerts.</p></br></br>
        </div>
        <div class="col">
          <div class="skills">
            <h4>LANGUAGES</h4><br/>
            <i class="icon devicon-javascript-plain"></i>
            <i class="icon devicon-html5-plain-wordmark"></i>
            <i class="icon devicon-css3-plain-wordmark"></i>
            <i class="icon devicon-ruby-plain"></i>
          </div>
          <div class="skills">
            <h4>FRAMEWORKS . LIBRARIES . ENVIRONMENTS</h4><br/>
            <i class="icon devicon-jquery-plain"></i>
            <i class="icon devicon-nodejs-plain"></i>
            <i class="icon devicon-react-original"></i>
            <i class="icon devicon-rails-plain"></i>
            <i class="icon devicon-bootstrap-plain"></i>
          </div>
          <div class="skills">
            <h4>SYSTEMS . CMS . DATABASES</h4><br/>
            <i class="icon devicon-postgresql-plain"></i>
            <i class="icon devicon-mongodb-plain"></i>
            <i class="icon devicon-git-plain"></i>
          </div>  
        </div>
      </div>
      <!-- PORTFOLIO -->
      <div id="portfolio" class="portfolio">
        <h1>PORTFOLIO</h1><br/>                              
        <div class="shrink row text-center">
          <div class="col col-lg-4 col-md-4 col-sm-6 col-12">
            <a href="https://github.com/nickoless/moody"><img class="img-fluid" src="public/moody.png" class="img-fluid" /></a>
          </div>
          <div class="col col-lg-4 col-md-4 col-sm-6 col-12">
            <a href="https://github.com/nickoless/Chatty"><img class="img-fluid" src="public/chatty.png" class="img-fluid"/></a>
          </div>
          <div class="col col-lg-4 col-md-4 col-sm-6 col-12">
            <a href="https://github.com/nickoless/inDecision"><img class="img-fluid" src="public/indecision.png"class="img-fluid"/></a>
          </div> 
          <div class="col col-lg-4 col-md-4 col-sm-6 col-12">
            <a href="https://github.com/nickoless/quote-generator"><img class="img-fluid" src="public/quote.png"class="img-fluid"/></a>
          </div> 
        </div>
      </div>
      <div id="contact" class="contact">
        <h3 class="text-center">CONTACT</h3>
        <div class='text-center'>
          <a class="social" href="https://github.com/nickoless">GITHUB</span>
          <a class="social" href="https://www.linkedin.com/in/nickoless/">LINKEDIN</span></a>
          <a class="social" href="mailto:nickoless.lee@gmail.com">EMAIL</span></a>
          <a class="social" href="https://www.instagram.com/orientalshrug">INSTAGRAM</span></a>
          <a class="social" href="https://500px.com/orientalshrug">500PX</span></a>
        </div>
      </div>
    </div>
    <!-- MD Bootstrap JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
    <!-- Local Scripts -->
    <script type="text/javascript" src="/scripts/scripts.js"></script>
  </body>
</html>