<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel='stylesheet' href='styles/styles.css'/>

  </head>
  <body>
    <div class='container-fluid'>
      <!-- <div class='row'> -->
        <div class='about col'>
            <img src="https://preview.ibb.co/eziE2H/IMG_20170529_114229_585.jpg" />
          Ayy
        </div>
        <div class='portfolio col'>
          Damn
        </div>
        <div class='social col'>
          Daniel
        </div>
      </div>
    <!-- </div> -->
  </body>
</html>