<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel='stylesheet' href='styles/styles.css'/>

  </head>
  <body>
    <div class='container-fluid'>
      <div class='row'>
        <div class='home col'>
          <h1 class='top-text'>NICK</h1>
          <img src="https://preview.ibb.co/eziE2H/IMG_20170529_114229_585.jpg" />
          <h1 class='bottom-text'>LEE</h1>
        </div>
        <div class='about col'>
          <h1>SHITSON</h1>
        </div>
      </div>
      <div class='portfolio col'>
          Damn
      </div>
      <div class='social col'>
          Daniel
      </div>
    </div>
  </body>
</html>