<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Nick Lee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    <link rel='stylesheet' href='styles/styles.css'/>
    
  </head>
  <body>
    
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <a class="navbar-brand" href="#"><strong>NLEE</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class='container-fluid'>

      <!-- HOME -->
      <div id="home" class="home">
        <img src="public/mirror-overlay.png" class="img-fluid"/>
        <h1 class='home-text'>NICK LEE</h1>   
      </div>

      <!-- ABOUT -->
      <div id="about" class="row about">
        <div class="col">
          <h1>ABOUT</h1><br/>
          <h5>Currently seeking opportunities.</h5><br/>
          <p>Born and raised in Victoria, BC. A passion for all things artistic
            - hobbyist photographer and illustrator.</p>
          <p>I'm a fresh junior developer looking to get my feet wet</p></br></br>
        </div>
        <div class="col">
          <div class="skills">
            <h4>LANGUAGES</h4><br/>
            <i class="icon devicon-javascript-plain"></i>
            <i class="icon devicon-html5-plain-wordmark"></i>
            <i class="icon devicon-css3-plain-wordmark"></i>
            <i class="icon devicon-ruby-plain"></i>
          </div>
          <div class="skills">
            <h4>FRAMEWORKS . LIBRARIES . ENVIRONMENTS</h4><br/>
            <i class="icon devicon-jquery-plain"></i>
            <i class="icon devicon-nodejs-plain"></i>
            <i class="icon devicon-react-original"></i>
            <i class="icon devicon-rails-plain"></i>
            <i class="icon devicon-bootstrap-plain"></i>
          </div>
          <div class="skills">
            <h4>SYSTEMS . CMS . DATABASES</h4><br/>
            <i class="icon devicon-postgresql-plain"></i>
            <i class="icon devicon-mongodb-plain"></i>
            <i class="icon devicon-git-plain"></i>
          </div>  
        </div>
      </div>

      <!-- PORTFOLIO -->
      <div id="portfolio" class="portfolio">
        <h1>PORTFOLIO</h1><br/>
        <div class="row text-center">
          <div class="col col-lg-4 col-md-4 col-sm-6 col-xs">
            <img class="img-fluid" alt="Responsive image" src="https://www.syncron.com/wp-content/uploads/2017/03/img-placeholder.png?x31871" />
          </div>
          <div class="col col-lg-4 col-md-4 col-sm-6 col-xs">
            <img class="img-fluid" alt="Responsive image" src="https://www.syncron.com/wp-content/uploads/2017/03/img-placeholder.png?x31871" />
          </div>
          <div class="col col-lg-4 col-md-4 col-sm-6 col-xs">
            <img class="img-fluid" alt="Responsive image" src="https://www.syncron.com/wp-content/uploads/2017/03/img-placeholder.png?x31871" />
          </div> 
        </div>
      </div>
      <div id="contact" class="contact">
        <h3 class="text-center">CONTACT</h3>
        <div class='text-center'>
          <a class="social" href="https://github.com/nickoless">GITHUB</span>
          <a class="social" href="https://www.linkedin.com/in/nickoless/">LINKEDIN</span></a>
          <a class="social" href="mailto:nickoless.lee@gmail.com">EMAIL</span></a>
          <a class="social" href="https://www.instagram.com/orientalshrug">INSTAGRAM</span></a>
        </div>
      </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
    <script type="text/javascript" src="/scripts/scripts.js"></script>

  </body>
</html>