<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel='stylesheet' href='styles/styles.css'/>
    
  </head>
  <body>
    <div class='container-fluid'>
      <div class='row'>
        <div class='home col'>
          <h1 class='top-text'>NICK</h1>
          <img src="https://preview.ibb.co/eziE2H/IMG_20170529_114229_585.jpg" />
          <h1 class='bottom-text'>LEE</h1>
        </div>
        <div class='about col'>
          <h1>SHITSON</h1>
          <p>Lorem ipsum dolor amet master cleanse PBR&B mixtape drinking vinegar meditation. Godard jianbing copper mug fixie chartreuse glossier. Knausgaard trust fund bitters, mumblecore direct trade asymmetrical woke keffiyeh 90's adaptogen tilde. Letterpress celiac hashtag kickstarter iPhone, try-hard semiotics. Pok pok franzen hashtag williamsburg, salvia kombucha craft beer disrupt umami street art shoreditch cloud bread.
              Actually tattooed truffaut chicharrones edison bulb. Ethical chia messenger bag distillery. Selvage mlkshk poke +1 shaman try-hard. Flannel la croix actually poke lomo. +1 heirloom hella farm-to-table truffaut schlitz biodiesel meggings locavore vexillologist.
              Microdosing chartreuse neutra viral, narwhal glossier master cleanse vexillologist pok pok thundercats readymade tbh tousled messenger bag. Fam poutine unicorn typewriter. Poke put a bird on it iPhone selvage farm-to-table cornhole normcore tacos, franzen viral thundercats twee 3 wolf moon migas before they sold out. Sartorial 90's godard, fingerstache jianbing four dollar toast lumbersexual biodiesel vaporware heirloom. Farm-to-table unicorn pok pok selfies, tote bag squid chartreuse.
              Thundercats squid swag kogi ennui. Tilde ugh edison bulb, echo park iPhone cronut messenger bag literally PBR&B everyday carry food truck fanny pack irony taxidermy hammock. Heirloom narwhal mumblecore etsy 8-bit humblebrag. Shaman butcher seitan palo santo art party pickled helvetica keffiyeh meh next level sustainable vice. Scenester humblebrag bespoke kickstarter. Fingerstache wolf ethical man bun irony pour-over.
              
              Iceland yr wayfarers, tousled single-origin coffee austin seitan shoreditch brooklyn. Bespoke actually austin tote bag, XOXO flexitarian dreamcatcher +1. Flexitarian pabst raclette, bushwick umami flannel pok pok chambray beard vegan. Forage lomo jean shorts, letterpress artisan twee vegan tumblr trust fund hell of.
              
             
              </p>
        </div>
      </div>
      <div class='portfolio col'>
          Damn
      </div>
      <div class='social col'>
          Daniel
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/scripts.js"></script>
  </body>
</html>