<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Nick Lee</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    <link rel='stylesheet' href='styles/styles.css'/>
    
  </head>
  <body>
    
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <a class="navbar-brand" href="#"><strong>NLEE</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#home">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class='container-fluid'>
      <!-- HOME -->
      <div id="home" class="home">
        <img src="public/mirror-overlay.png" class="img-fluid"/>
        <h1 class='home-text'>NICK LEE</h1>        
      </div>
      <!-- ABOUT -->
      <div id="about" class="about row">
        <div class="col">
          <h1>ABOUT</h1>
          <p>Lorem ipsum dolor amet master cleanse PBR&B mixtape drinking vinegar meditation. Godard jianbing copper mug fixie chartreuse glossier. Knausgaard trust fund bitters, mumblecore direct trade asymmetrical woke keffiyeh 90's adaptogen tilde. Letterpress celiac hashtag kickstarter iPhone, try-hard semiotics. Pok pok franzen hashtag williamsburg, salvia kombucha craft beer disrupt umami street art shoreditch cloud bread.
            Actually tattooed truffaut chicharrones edison bulb. Ethical chia messenger bag distillery. Selvage mlkshk poke +1 shaman try-hard. Flannel la croix actually poke lomo. +1 heirloom hella farm-to-table truffaut schlitz biodiesel meggings locavore vexillologist.</p>

          <p>Microdosing chartreuse neutra viral, narwhal glossier master cleanse vexillologist pok pok thundercats readymade tbh tousled messenger bag. Fam poutine unicorn typewriter. Poke put a bird on it iPhone selvage farm-to-table cornhole normcore tacos, franzen viral thundercats twee 3 wolf moon migas before they sold out. Sartorial 90's godard, fingerstache jianbing four dollar toast lumbersexual biodiesel vaporware heirloom. Farm-to-table unicorn pok pok selfies, tote bag squid chartreuse.
            Thundercats squid swag kogi ennui. Tilde ugh edison bulb, echo park iPhone cronut messenger bag literally PBR&B everyday carry food truck fanny pack irony taxidermy hammock. Heirloom narwhal mumblecore etsy 8-bit humblebrag. Shaman butcher seitan palo santo art party pickled helvetica keffiyeh meh next level sustainable vice. Scenester humblebrag bespoke kickstarter. Fingerstache wolf ethical man bun irony pour-over.</p>
            
            Iceland yr wayfarers, tousled single-origin coffee austin seitan shoreditch brooklyn. Bespoke actually austin tote bag, XOXO flexitarian dreamcatcher +1. Flexitarian pabst raclette, bushwick umami flannel pok pok chambray beard vegan. Forage lomo jean shorts, letterpress artisan twee vegan tumblr trust fund hell of.
            </p>
        </div>
        <div class="col skills">
            <i class="devicon-javascript-plain"></i>
        </div>
      </div>
      <div id="portfolio" class="portfolio col">
        <div class="row">
          <div class="col col-lg-3 col-md-4 col-sm-2 col-xs-1">AYY</div>
          <div class="col col-lg-3 col-md-4 col-sm-2 col-xs-1">THIS</div>
          <div class="col col-lg-3 col-md-4 col-sm-2 col-xs-1">SHIT</div>
          <div class="col col-lg-3 col-md-4 col-sm-2 col-xs-1">WAY</div>
          <div class="col col-lg-3 col-md-4 col-sm-2 col-xs-1">TOO</div>
          <div class="col col-lg-3 col-md-4 col-sm-2 col-xs-1">CRAZY</div>
        </div>
      </div>
      <div id="contact" class="social col">
          <i class="material-icons">3d_rotation</i>
      </div>
    </div>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
    <script type="text/javascript" src="/scripts/scripts.js"></script>

  </body>
</html>