body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  position: relative;
}

.container-fluid {
  padding: 0;
}

.navbar {
  background-color: transparent;
}

.nav-link:hover {
  font-weight: bold;
}

.top-nav-collapse {
  background-color: #5a676f;
}

.home {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  width: 100%;
}

.home img {
  width: 100%;
}

.home-text {
  color: white;
  position: absolute;
  margin: auto; 
  top: 0;
  left:0;
  right:0;
  bottom:0;
  color:#fff;
  height: 10vh;
  font-size: 3em;
  /* visibility: hidden; */
}

@media only screen and (min-width: 500px) {
  .home h1 { 
    height: 150px;
    font-size: 5em;
    visibility: visible; 
  }
}

.about {
  background-color: #1d1916;
  margin: auto;
  color: white;
  height: auto;
  padding: 75px 10px 25px 10px;
  /* height: 100vh; */
}

@media only screen and (max-width: 500px) {
  .about h1 { 
    text-align: center;
  }
}

.skills {
  padding-bottom: 25px;
  padding-left: 10px;
}

.icon {
  font-size: 3em;
  padding: 7.5px;
}

.portfolio {
  margin: auto;
  background-color: #cecac3;
  padding: 75px 25px 25px 25px;
}

@media only screen and (max-width: 500px) {
  .portfolio h1 { 
    text-align: center;
  }
}

.portfolio img {
  height: 90%;
  width: 90%;
  padding-bottom: 2em;
  border-radius: 2px;
  cursor: pointer;
}

.contact {
  margin: auto;
  background-color: #1d1916;
  color: white;
  padding: 25px 25px 25px 25px;
}

.contact .social {
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

@media only screen and (max-width: 500px) {
  .contact .social {
  padding-left: 2vw;
  padding-right: 2vw;
  }
}

.contact .social:hover {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .about, .portfolio { 
    height: 100vh;
  }
}
