body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  position: relative;
}

.container-fluid {
  padding: 0;
}

.navbar {
  background-color: transparent;
}

@media only screen and (max-width: 500px) {
  .navbar { 
    background-color: #5a676f;
  }
}

.nav-link:hover {
  font-weight: bold;
}

.top-nav-collapse {
  background-color: #5a676f;
}

.home {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  width: 100%;
}

.home img {
  width: 100%;
}

.home-text {
  color: white;
  position: absolute;
  margin: auto; 
  top: 0;
  left:0;
  right:0;
  bottom:0;
  color:#fff;
  height: 5vh;
  font-size: 3em;
}

@media only screen and (min-width: 500px) {
  .home-text { 
    height: 150px;
    font-size: 5em;
  }
}

.about {
  background-color: #1d1916;
  margin: auto;
  color: white;
  height: auto;
  padding: 75px 10px 25px 10px;
}

@media only screen and (max-width: 500px) {
  .about h1 { 
    text-align: center;
  }
}

.skills {
  padding-bottom: 25px;
  padding-left: 10px;
}

.icon {
  font-size: 3em;
  padding: 7.5px;
}

.portfolio {
  margin: auto;
  background-color: #cecac3;
  padding: 0px;
  padding: 75px 25px 25px 25px;
  /* text-align: center; */
}

@media only screen and (max-width: 500px) {
  .portfolio h1 { 
    text-align: center;
  }
} 

.view {
  /* text-align: center; */
  display: block;
  padding: 0;
  margin: auto;
  margin-bottom: 5vh;
  max-width: 30vw;
  cursor: pointer;
  border-radius: 3px
}

@media only screen and (max-width: 500px) {
  .view { 
    max-width: 90vw;
    margin-bottom: 2vh;
  }
} 

.view img {
  display: block;
  /* height: auto; */
  width: 50%
  /* padding-right: 0;; */

  padding-bottom: 10px;
  /* border-radius: 2px; */
  cursor: pointer;
  padding: 0px;
}

.contact {
  margin: auto;
  background-color: #1d1916;
  color: white;
  padding: 25px 25px 25px 25px;
}

.contact .social {
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

@media only screen and (max-width: 500px) {
  .contact .social {
  padding-left: 2vw;
  padding-right: 2vw;
  }
}

.contact .social:hover {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .about { 
    height: 100vh;
  }
}
