body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  position: relative;
}

.container-fluid {
  padding: 0;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #5a676f;
}

.home {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  width: 100%;
}

.home img {
  width: 100%;
}

.home h1 {
  color: white;
  position: absolute;
  margin: auto; 
  top: 0;
  left:0;
  right:0;
  bottom:0;
  color:#fff;
  height:150px;
  font-size: 5em;
}

.about {
  background-color: #1d1916;
  margin: auto;
  color: white;
  height: auto;
  padding: 25px 10px 25px 10px;
}

.skills {
  padding-bottom: 25px;
  padding-left: 10px;
}

.icon {
  font-size: 3em;
  padding: 7.5px;
}

.portfolio {
  margin: auto;
  background-color: #cecac3;
  /* height: 100vh; */
  padding: 75px 25px 25px 25px;

}

.portfolio img {
  height: 90%;
  width: 90%;
  padding-bottom: 2em;
  border-radius: 2px;
}

.contact {
  margin: auto;
  background-color: #1d1916;
  color: white;

  padding: 25px 25px 25px 25px;
}

.contact .social {
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

.contact .social:hover {
  font-weight: bold;
}

.nav-link:hover {
  font-weight: bold;
}